/*++++++++++++++++++++++++++++++++++++++++++++++++++
Copyright (c) 2001-2014. Matteo Bicocchi (Pupunzi);
http://pupunzi.com/mb.components/mb.miniAudioPlayer/demo/skinMaker.html

MAP custom skin: mySkin
borderRadius: 5
background: #000000
icons: rgba(144, 163, 245, 1)
border: rgba(107, 98, 56, 1)
borderLeft: #333333
borderRight: #000000
mute: #cccccc
download: rgba(36, 34, 29, 1)
downloadHover: #000000
++++++++++++++++++++++++++++++++++++++++++++++++++*/

/* Older browser (IE8) 
   not supporting rgba() */ 
.mbMiniPlayer.mySkin .map_download{color: #24221d;}
.mbMiniPlayer.mySkin table span{color: #90a3f5;}
.mbMiniPlayer.mySkin table {border: 1px solid #6b6238 !important;}

/*++++++++++++++++++++++++++++++++++++++++++++++++*/

.mbMiniPlayer.mySkin table{background-color:transparent; border-radius:5px !important;}
.mbMiniPlayer.mySkin.shadow table{box-shadow:0 0 3px #000000;}
.mbMiniPlayer.mySkin table span{background-color:#000000;}
.mbMiniPlayer.mySkin table span.map_play{border-left:1px solid #333333; border-radius:0 4px 4px 0 !important;}
.mbMiniPlayer.mySkin table span.map_volume{border-right:1px solid #000000; border-radius:4px 0 0 4px !important;}
.mbMiniPlayer.mySkin table span.map_volume.mute{color: #cccccc;}
.mbMiniPlayer.mySkin .map_download{color: rgba(36, 34, 29, 1);}
.mbMiniPlayer.mySkin .map_download:hover{color: #000000;}
.mbMiniPlayer.mySkin table span{color: rgba(144, 163, 245, 1);text-shadow: 1px -1px 1px #000000!important;}
.mbMiniPlayer.mySkin table span{color: rgba(144, 163, 245, 1);}
.mbMiniPlayer.mySkin table {border: 1px solid rgba(107, 98, 56, 1) !important;}
.mbMiniPlayer.mySkin table span.map_title{color: #000; text-shadow:none!important}
/*++++++++++++++++++++++++++++++++++++++++++++++++*/
